body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: rgb(254, 242, 190);
}

.container {
  display: inline;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#pomoc {
  top: 150px;
  left: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1.5rem;
  width: 400px;
  height: 500px;
  padding: 20px;
  display: none;
}

#pomoc-btn {
  justify-content: center;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

#sound {
  justify-content: center;
  top: 0;
  left: 170px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.dodatek {
  display: flex;
  align-items: center;
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: rgb(31, 30, 30);
}